* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body{
  background: rgb(87, 6, 237);
  background: linear-gradient(90deg, rgb(56, 4, 153) 0%, rgb(87, 6, 237) 15%, rgb(0, 135, 189) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  text-align: center;
}
.container{
  width: 90vw;
  height: 90vh;
  background: rgba(36, 188, 226, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  border: none;
}

.loading{
  padding: 50px;
  font-size: 32px;
  border-radius: 10px;
  background-color: rgba(0, 0, 139, 0.877);

}