.About-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10rem;
    text-align: center;
    text-decoration: none;
    list-style: none;
    background-color: #1e3f66;
    color: white;
    /* margin-left: 2rem;
    margin-right: 2rem; */
}

.Individual-container{
    /* position:absolute;  */
    /* display: grid; */
    height: 400px;
    width:400px;   
}

/* .Teen-container{
    height: 400px;
    width:400px;  
} */

.individual{
    margin-top: 5rem;
    margin-left: 3rem;
    margin-right: 2rem;
}

.teen{
    /* margin-bottom: 2rem; */
    margin-left: 2rem;
    margin-right: 2rem; 
}

.parents-child{
    margin-left: 2rem;
    margin-right: 3rem; 
}
.indiv-img{
    height: 200px;
    width:200px
    
}

.Teen-img{
    height: 200px;
    width:200px
}


.Parents-and-child-img{
    height: 200px;
    width:200px
}

.individual-button{
    color: #1e3f66;
    background-color: white;
    cursor: pointer;
}

.teen-button{
    color: #1e3f66;
    background-color: white;
    cursor: pointer;
}

.parents-child-button{
    color: #1e3f66;
    background-color: white;
    cursor: pointer;
}

