.About-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10rem;
    text-align: center;
    text-decoration: none;
    list-style: none;
    background-color: #1e3f66;
    color: white;
    /* height: 400px;
    width:400px; */
    /* margin-left: 2rem;
    margin-right: 2rem; */
}

.Individual-container{
    margin-top: 4rem;
    height: 400px;
    width:400px;   
}

/* .Teen-container{
    height: 400px;
    width:400px;  
} */

.Individual-container{
    /* margin-top: 5rem; */
    margin-left: 3rem;
    margin-right: 1rem;
}

.Teen-container{
    /* margin-bottom: 2rem; */
    margin-left: 1rem;
    margin-right: 1rem; 
}

.Parents-child-container{
    margin-left: 2rem;
    margin-right: 7rem; 
}
.indiv-img{
    height: 200px;
    width:200px
    
}

.Teen-img{
    height: 200px;
    width:200px
}


.Parents-and-child-img{
    height: 200px;
    width:200px
}

.individual-button{
    color: #1e3f66;
    background-color:white;
    padding: 8px;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    font-weight: 600;
}

.teen-button{
    color: #1e3f66;
    background-color:white;
    padding: 8px;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    font-weight: 600;
}

.parents-child-button{
    color: #1e3f66;
    background-color:white;
    padding: 8px;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    font-weight: 600;
}

