.cover-container{
    height: 100vh;
    width: 100%;
    padding: 0px;
    margin: 0px;
    /* margin-top: 10rem; */
    background-color: #D6E6F2; 
    /* position: absolute; */
}

/* .bgvideo {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1;
    filter: blur(6px); 
  } */

.cover-header{
    font-weight:800 ;
    font-size: 40px;
    position: absolute;
    top: 55%;
    left: 50%;
    letter-spacing: 1.5px;
    transform: translate(-50%, -50%);
    color: #3366a5;
   white-space: nowrap;


}

.cover-header2{
    font-weight:800 ;
    font-size: 40px;
    position: absolute;
    letter-spacing: 1.5px;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #3366a5;
   white-space: nowrap;
}

.para{
    position: absolute;
    font-size: 25px;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#3366a5;
    font-weight: 700;
   
    margin-top: 4rem;
}