.Dashlist-container{
    flex: 22%;
    height: calc(100vh - 90px);
    margin-left: 0%;
    overflow-y:  scroll;
    position: sticky;
    top: 50px;
    margin-right: 1rem;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background-color: rgb(221, 205, 205);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(167, 159, 149);
}

.Dashlist-section{
   display: flex;
   flex-direction: column;
   margin-bottom: 3rem;
   /* background-color: #D6E6F2; */
   line-height: 3rem;
   text-decoration: none;
   height: 85vh;
   
}

.Dashlist-section ul{
    margin: 1rem 1rem;

}

.Dashlist-section ul li{
    text-decoration: none;
    border-bottom: 1px solid black;
    list-style-type: none;
    margin-bottom: 10px;
    padding-left: 1rem;
    cursor: pointer;
    
}

.Dashlist-section ul li:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.dashlist-btn{
    width: 100px;
    padding: 8px 5px;
    background: white;
    font-size: 15px;
    border-radius: 10px;
    margin-top: 2px; 
    margin-bottom: 2px;
    margin-left: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    justify-content: center;
    border: 2px solid #1e3f66;
}

.dashlist-btn a{
    text-decoration: none;
    color: #1e3f66;
}

.dashlist-btn:hover{
    transform: scale(1.1);
    transition: 0.3s;
}