*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.title-price{
    text-align: center;
    color: #1e3f66;
    background-color:  #D6E6F2;;
    padding-top: 2.5rem;
    margin-top: 5rem;
    
}

.container{
    height: 600px;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #D6E6F2;
    color: #1e3f66;

}

.card1{
    width: 300px;
    height: 475px;
    margin-right: 20px;
    padding: 10px 0;
    text-align: center;
    background:linear-gradient(135deg, rgb(193, 211, 219) 0%, rgb(56, 92, 163) );
    border-radius: 15px;
    box-shadow: 2px 5px 15px black;
    transition: transform 0.3s;
}

.card2{
    width: 300px;
    height: 475px;
    margin-right: 20px;
    padding: 10px 0;
    text-align: center;
    background:linear-gradient(135deg, rgb(193, 211, 219) 0%, rgb(56, 92, 163) );
    border-radius: 15px;
    box-shadow: 2px 5px 15px black;
    transition: transform 0.3s;
}

.card3{
    width: 300px;
    height: 475px;
    margin-right: 20px;
    padding: 10px 0;
    text-align: center;
    background:linear-gradient(135deg, rgb(193, 211, 219) 0%, rgb(56, 92, 163) );
    border-radius: 15px;
    box-shadow: 2px 5px 15px black;
    transition: transform 0.3s;
}

.card1:hover{
    transform: scale(1.050);
}

.card2:hover{
    transform: scale(1.050);
}

.card3:hover{
    transform: scale(1.050);
}
.card1 .card-title{
    text-align: center;
    padding: 30px 20px;
    border-bottom: 2px solid #1e3f66;
}

.card2 .card-title{
    text-align: center;
    padding: 20px 10px;
    border-bottom: 2px solid #1e3f66;
}

.card3 .card-title{
    text-align: center;
    padding: 20px 10px;
    border-bottom: 2px solid #1e3f66;
}


.card-title h1{
    font-size: 35px;
    padding-bottom: 15px;
    color: #1e3f66;
}

.free{
    font-size: 25px;
}
.card-title p span{
    font-size: 40px;
    padding: 0 5px;
}

.card-content ul{
    padding: 10px 30px;
    padding-bottom: 20px;

}

.card-content ul li{
    list-style: none;
    padding: 10px 0;
    text-align:start;
}

.card-content ul li i{
    margin-right: 4px;
}

.card-content .permonth{
    padding-left: 1.2rem;
}

.card-content .therapist{
    padding-left: 1.2rem;
}

.card1 .card-content button{
    width: 120px;
    padding: 10px 20px;
    background: rgb(193, 211, 219);
    border-radius: 20px;
    /* margin-top: 2px; */
    margin-bottom: 2rem;
    text-align: center;
    justify-content: center;
    border: 2px solid #1e3f66;

}

.card2 .card-content button{
    width: 120px;
    padding: 10px 20px;
    background: rgb(193, 211, 219);
    border-radius: 20px;
    margin-top: 55px;
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
    border: 2px solid #1e3f66;
}

.card3 .card-content button{
    width: 120px;
    padding: 10px 20px;
    background: rgb(193, 211, 219);
    border-radius: 20px;
    margin-top: 55px;
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
    border: 2px solid #1e3f66;

}

.card-content button a{
    text-decoration: none;
    color: #1e3f66;
    font-weight: 700;
}

.card-content button:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
